<!DOCTYPE html>
<html lang="en" ng-app="express-dapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/bower/angular-material/angular-material.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<title></title>
</head>
<body ng-controller='MainCtrl'>

--------------------------------------------------------------------------------
<h3>Example of UI router State load to ui view</h3>
--------------------------------------------------------------------------------
<div ui-view></div>
================================================================================

<br/><br/><br/>
{{fromMainctrl}}
<br/>

<a ui-sref="index">Main State > </a> <br/>
<a ui-sref="view1">State1 -View1 > </a> <br/>
<a ui-sref="view2">State2 -View2 > </a> <br/>

<script src="/bower/angular/angular.js"></script>
<script src="/bower/angular-aria/angular-aria.js"></script>
<script src="/bower/angular-animate/angular-animate.js"></script>
<script src="/bower/angular-material/angular-material.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/client/app.js"></script>
<script src="/client/controllers.js"></script>
<script src="/client/directives.js"></script>
<script src="/client/filters.js"></script>
<script src="/client/services.js"></script>
</body>
</html>